<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="./paper-item/paper-item.html">
<link rel="import" href="./paper-spinner/paper-spinner.html">
<link rel="import" href="./paper-listbox/paper-listbox.html">
<link rel="import" href="./paper-button/paper-button.html">
<link rel="import" href="./paper-input/paper-input.html">

<link rel="import" href="./iron-pages/iron-pages.html">

<link rel="import" href="../iron-overlay-behavior/iron-overlay-backdrop.html">
<link rel="import" href="../iron-overlay-behavior/iron-overlay-backdrop.html">

<dom-module id="praetorian-challenge">

    <template>

        <iron-overlay-backdrop id="overlay" class="horizontal layout center">
            <paper-spinner class="flex" active></paper-spinner>
        </iron-overlay-backdrop>

        <iron-pages id="pages" selected="0">
            <section>
                <paper-listbox>
                    <template is="dom-repeat" items="{{list}}">
                        <paper-item on-click="select">{{item}}</paper-item>
                    </template>
                </paper-listbox>
            </section>
            <section>
                <h1>{{item}}</h1>
            </section>
        </iron-pages>

    </template>


    <script>
        Polymer({
            is: 'praetorian-challenge',

            /** List of parties */
            list: [],

            /** Selected party */
            item: null,

            ready: function () {

                document.addEventListener("praetorianReady", function () {
                    console.log("DOM fully loaded and parsed");
                    console.log('praetorian', praetorian);

                    this.list = [];

                    praetorian.services.challengeService.list(function (err, list) {
                        console.log("list", list);
                        this.list = list;
                    }.bind(this));


                }.bind(this));
            },

            /** Create new party */
            create: function () {
                console.log("Create");
                this.$.overlay.open();
                praetorian.services.partyService.create(function (err, party) {
                    praetorian.services.partyService.list(function (err, list) {
                        this.list = list;
                        this.$.overlay.close();
                    }.bind(this));
                }.bind(this));
            },

            /** Select party */
            select: function (e) {
                console.log("select", e);
                this.item = e.model.item;
                this.$.pages.selectNext();

            },

            /** Select party */
            back: function (e) {
                this.$.pages.selectPrevious();

            }

        });
    </script>

</dom-module>