<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="./paper-item/paper-item.html">
<link rel="import" href="./paper-spinner/paper-spinner.html">
<link rel="import" href="./paper-listbox/paper-listbox.html">
<link rel="import" href="./paper-button/paper-button.html">
<link rel="import" href="./paper-input/paper-input.html">

<link rel="import" href="./iron-pages/iron-pages.html">

<link rel="import" href="../iron-overlay-behavior/iron-overlay-backdrop.html">
<link rel="import" href="../iron-overlay-behavior/iron-overlay-backdrop.html">

<dom-module id="praetorian-party">

    <template>

        <iron-overlay-backdrop id="overlay" class="horizontal layout center">
            <paper-spinner class="flex" active></paper-spinner>
        </iron-overlay-backdrop>

        <iron-pages id="pages" selected="0">
            <section id="list">
                <paper-listbox>
                    <template is="dom-repeat" items="{{list}}">
                        <paper-item on-click="select">
                            <span>{{item.name}} - </span><em>{{item.address}}</em></paper-item>
                    </template>
                </paper-listbox>
            </section>
            <section id="detail">
                <div>{{item.name}}</div>
                <paper-button on-tap="addChallenge">AddChallenge</paper-button>
            </section>
            <section id="create">
                <form is="iron-form">
                    <paper-input id="partyName" name="name" label="name" value="{{item.name}}"></paper-input>
                </form>
            </section>
            <section id="passwordChallenge">
                <form is="iron-form">
                    <paper-input id="challenge" name="name" label="name" value="{{challenge.password}}"></paper-input>
                </form>
            </section>
        </iron-pages>

    </template>


    <script>
        Polymer({
            is: 'praetorian-party',

            /** List of parties */
            list: [],

            /** Selected party */
            item: null,

            ready: function () {
                document.addEventListener("praetorianReady", function () {
                    this._loadList();
                }.bind(this));
            },

            _loadList: function () {
                this.list = [];
                praetorian.services.partyService.list(function (err, list) {
                    console.log("list", list);
                    this.list = list;
                    list.forEach(function (x, i) {
                        praetorian.services.partyService.get(x, function (err, item) {
                            item.address = x;
                            console.log(item, i);
                            this.set('list.' + i, item);
                        }.bind(this));
                    }.bind(this));
                }.bind(this));
            },

            /** Create new party */
            create: function () {
                console.log("Create");
                if (this.$.pages.selected == 0) {
                    this.$.pages.select(2);
                    this.item = {
                        name: null
                    }
                }

                else if (this.$.pages.selected == 2) {
                    this.$.overlay.open();
                    praetorian.services.partyService.create(this.item.name, function (err, party) {
                        if(err){
                            console.log(err)
                        }
                        this._loadList();
                        this.$.overlay.close();
                        this.$.pages.select(0)
                    }.bind(this));
                }

            },

            /** Select party */
            select: function (e) {
                console.log("select", e);
                this.item = e.model.item;
                this.$.pages.selectNext();

            },

            addChallenge:function(){
                this.$.overlay.open();
                praetorian.services.challengeService.create('test', function (err, list) {
                    this.$.overlay.close();

                }.bind(this));
            },

            /** Select party */
            back: function (e) {
                this.$.pages.selectPrevious();

            }

        });
    </script>

</dom-module>